html, body {
	height: 100%;
}

#header {
	height: 260px;
	width: 100%;
}

#date {
	height: 100%;
	float: left;
	padding-right: 20px;
}

#datepicker {
	height: 100%;
	width: 100%;
}

#loginapp {
	height: 100%;
	width: 40%;
	float: left;
}

#loginapp img {
	height: 40%;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 5%;
	padding-left: 5%;
}

#toprightpanel {
	height: 100%;
	width: 20%;
	float: left;
}
  
#app {
	height: 100%;
	width: 96%;
	padding: 0px;
}
  
#moves {
	width: 32%;
	height: 100%;
	float: left;
	padding-right: 1%;
}

#moveschart {
	width: 100%;
	height: 80%;
}


#movesfootnote {
	width: 100%;
	height: 20%;
}

#fitbit {
	width: 32%;
	height: 100%;
	float: left;
	padding-right: 1%;
}

#fitbitchart {
	width: 100%;
	height: 80%;
}

#fitbitfootnote {
	font-family: Avenir;
	font-size: 12px;
	text-indent:60px;
	width: 100%;
	height: 20%;
	font-weight: normal;
}

#fitbitfootnote h2{
	font-family: Avenir;
	font-size: 14px;
	font-weight: bold;
}

#rescuetime {
	height: 100%; 
	width: 32%;
	float: left;
	padding-right: 1%;
}


#rescuetimechart {
	width: 100%;
	height: 80%;
}

#rescuetimefootnote {
	font-family: Avenir;
	font-size: 12px;
	text-indent:40px;
	width: 100%;
	height: 20%;
}

#rescuetimefootnote h2{
	font-family: Avenir;
	font-size: 14px;
}


#table{
	width: 100%;
	font-family: Avenir;
	font-size: 12px;
}

#dataTable{
	width: 100%;
	font-family: Avenir !important;
	font-size: 12px;
}

#dataTable td{
	width: 50px;
}


#data {
	width: 44%;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0.5%;
	float: left;
	height: 100%;
}

#survey {
	width: 54%;
	float: left;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0.5%;
}

#question p {
	font-family: Avenir; 
	font-size: 12px;
}

#question li {
	margin: 0px 0px 3px 6px;
	font-family: Avenir; 
	font-size: 12px;
}

#survey h2{
	font-family: Avenir; 
	font-size: 14px;
}
#survey ul{
	font-family: Avenir; 
	font-size: 12px;
}

#comment label {
	font-family: Avenir; 
	font-size: 14px;
	font-weight:bold;
}

.digits {
	color: blue;
	font-size: 18px;
	font-weight: bold;
}


#dataTable select {
	width: 100%;
}