html, body {
	height: 100%;
}

  
#app {
	height: 100%;
	width: 100%;
}
  
#moves {
	width: 50%;
	height: 100%;
	background-color: grey;
	float: left;
}

#fitbit {
	width: 25%;
	height: 100%;
	float: left;
}

#rescuetime {
	height: 100%; 
	width: 25%;
	float: left;
}

#data {
	width: 50%;
	float: left;
	height: 100%;
}

#survey {
	width: 50%;
	float: left;
}