<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Life Logger</title>
  <link rel="stylesheet" href={{ url_for("static", filename="css/jquery-ui.css") }}>
  <link rel="stylesheet" href={{ url_for("static", filename="css/homepage.css") }}>
  <script type=text/javascript>
    var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src={{ url_for("static", filename="js/jquery.js") }}></script>
  <script src={{ url_for("static", filename="js/jquery-ui.js") }}></script>
  <script src={{ url_for("static", filename="js/retrieve_data.js") }}></script>
  <script src={{ url_for("static", filename="js/canvasjs.min.js") }}></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL-i8Ridf0tibzpzu-YsPR13sLIg5QbHA"></script>
   <SCRIPT language="javascript">
    var rowId = 10;
    function addRow(tableID) {

      var table = document.getElementById(tableID);

      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);

      var colCount = table.rows[0].cells.length;

      for(var i=0; i<colCount; i++) {

        var newcell = row.insertCell(i);

        newcell.innerHTML = table.rows[1].cells[i].innerHTML;
        //alert(newcell.childNodes);
        switch(newcell.childNodes[0].type) {
          case "text":
              newcell.childNodes[0].value = "";
              break;
          case "checkbox":
              newcell.childNodes[0].checked = false;
              break;
          case "select-one":
              newcell.childNodes[0].selectedIndex = 0;
              break;
        }
      }
    }

  </SCRIPT>
</head>
<body>

<div id=header>
	<div id=date>
		<div id="datepicker"></div>
	</div>
	<div id=loginapp>
		<a href="rescuetime">
			<img src={{ url_for('static', filename='img/RT.png') }} alt="Rescuetime" />
		</a>
		<a href="fitbit">
			<img src={{ url_for('static', filename='img/FITBIT.png') }} alt="Fitbit" />
		</a>
		<a href="moves">
			<img src={{ url_for('static', filename='img/MOVES.png') }} alt="Moves" />
		</a>
	</div>
	<div id=toprightpanel>
		<h4>Click on the icon to add applications | <a href='logout'>Logout</a></h4>
	</div>
</div>
	
<div id=data>
	<div id=app>
		<div id=rescuetime>
			<div id=rescuetimechart></div>
			<div id=rescuetimefootnote>
				<br><h2>Productive Time:</h2>
				<p><span class=digits id=phour></span> hrs <span class=digits id=pmin></span> mins</p>
				<br>
				<h2>Distractive Time:</h2>
				<p><span class=digits id=dhour style="color:red"></span> hrs <span class=digits id=dmin style="color:red"></span> mins</p>
			</div>
		</div>
		<div id=fitbit>
			<div id=fitbitchart></div>
			<div id=fitbitfootnote>
				<br><h2>Steps:</h2>
				<p><span class=digits id=steps></span> steps </p>
			</div>
		</div>
		<div id=moves>
			<div id=moveschart></div>
			<div id=movesfootnote></div>
		</div>
	</div>
</div>

<div id=survey>


  <h2>[Instruction]</h2>
  <!-- <p>Through the powers of <strong>contenteditable</strong> and some simple jQuery you can easily create a custom editable table. No need for a robust JavaScript library anymore these days.</p> -->
  
  <ul>
    <li>Please fill in the blank <em><u>“What happened”</u></em> with short descriptions to specify activities.</li> 
    <li>Please fill in the blank <em><u>“Code”</u></em> with <em><u>1 work, 2 Leisure, 3 Personal maintenance.</u></em></li>
  </ul>

  <h2>[Term Definition]</h2>
  <!-- <p>Through the powers of <strong>contenteditable</strong> and some simple jQuery you can easily create a custom editable table. No need for a robust JavaScript library anymore these days.</p> -->
  
  <ul>
    <li><em><u>Work</u></em>: Academic related activities, study, job hunting, interviews, taking classes, homework, group discussions/work/projects, etc.</li> 
    <li><em><u>Leisure</u></em>: social life, shopping, watching videos/playing games, partying, drinking, club activities, sports, etc.</li>
    <li><em><u>Personal maintenance</u></em>: health, showering, cooking, eating, sleep, working out, transportation, etc.</li>
    <li>Code for <em><u>feeling</u></em>: <em><u>1. Very unhappy, 2. Unhappy, 3. Happy, 4. Very happy</u></em></li>
    <li>Code for <em><u>stress</u></em>: <em><u>1. Very relaxed, 2. Relaxed, 3. Stressed, 4. Very stressed</u></em></li>
  </ul>
  
  <div id="table">
  <form action="track_survey" method=post>
<!--     <span class="table-add glyphicon glyphicon-plus"></span>
    <table class="table"> -->
    <!-- <table id="table" border=”1″ style=”width:300px”> -->
	<TABLE id="dataTable" width="350px" border="1">
      <tr>
        <th>What happened?</th>
        <th>Code</th>
        <th>Time began</th>
        <th>Time ended</th>
        <th>Where?</th>
        <th>What did you feel?</th>
        <th>Stress</th>
      </tr>
      <tr>
        <TD><INPUT type="text" name="what_happen"/></TD>
        <td> 
            <select name="code">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen"/></TD>
        <td> 
            <select name="feel">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
      <!-- repeat row 1 -->
      <tr>
        <TD><INPUT type="text" name="what_happen2"/></TD>
        <td> 
            <select name="code2">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began2">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end2">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen2"/></TD>
        <td> 
            <select name="feel2">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress2">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>

       <!-- repeat row 2 -->
      <tr>
        <TD><INPUT type="text" name="what_happen3"/></TD>
        <td> 
            <select name="code3">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began3">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end3">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen3"/></TD>
        <td> 
            <select name="feel3">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress3">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
      <!-- repeat row 3 -->
      <tr>
        <TD><INPUT type="text" name="what_happen4"/></TD>
        <td> 
            <select name="code4">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began4">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end4">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen4"/></TD>
        <td> 
            <select name="feel4">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress4">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
      <!-- repeat row 4 -->
      <tr>
        <TD><INPUT type="text" name="what_happen5"/></TD>
        <td> 
            <select name="code5">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began5">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end5">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen5"/></TD>
        <td> 
            <select name="feel5">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress5">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>

      <!-- repeat row 5 -->
      <tr>
        <TD><INPUT type="text" name="what_happen6"/></TD>
        <td> 
            <select name="code">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began6">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end6">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen6"/></TD>
        <td> 
            <select name="feel6">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress6">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>

      <!-- repeat row 6 -->
      <tr>
        <TD><INPUT type="text" name="what_happen7"/></TD>
        <td> 
            <select name="code7">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began7">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end7">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen7"/></TD>
        <td> 
            <select name="feel7">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress7">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>

       <!-- repeat row 7 -->
      <tr>
        <TD><INPUT type="text" name="what_happen8"/></TD>
        <td> 
            <select name="code8">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began8">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end8">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen8"/></TD>
        <td> 
            <select name="feel8">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress8">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
      <!-- repeat row 8 -->
      <tr>
        <TD><INPUT type="text" name="what_happen9"/></TD>
        <td> 
            <select name="code9">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began9">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end9">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen9"/></TD>
        <td> 
            <select name="feel9">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress9">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>

      <!-- repeat row 9 -->
      <tr>
        <TD><INPUT type="text" name="what_happen10"/></TD>
        <td> 
            <select name="code10">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <select name="time_began10">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>      
        <td> 
            <select name="time_end10">        
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
            </select>
        </td>           
        <TD><INPUT type="text" name="where_happen10"/></TD>
        <td> 
            <select name="feel10">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress10">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>   
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
      
    </table>
  </div>

  <!-- <button id="export-btn" class="btn btn-primary">Add Row</button> -->
  <br>
  <INPUT type="button" value="Add Row" onclick="addRow('dataTable')" /> <BR>
  
  
  <div class="form-group" id = "comment"> <br>
  <label for="comment">Comment:</label> </span> <BR>
  <textarea class="form-control" rows="5" cols="80" id="comment"></textarea>
</div>

<div id=question>
  <p>Comment: Do you have any comments about your day?<BR>
        <input type="text" id="comments" name="comments" <BR>
      </p>

  <P>1. How many steps did you walk today?<BR>
    <input type="text" id="step" name="step" <BR>
  </p>

  <p>2. How many alcoholic beverages did you drink today?<BR>
    <input type="text" id="alcohol" name="alcohol" <BR>
  </p>

  <p>3. How many cigarettes did you smoke today?<BR>
    <input type="text" id="cigarette" name="cigarette" <BR>
  </p>

  <P>4. How would you rate your sleep quality last night?<BR>
    <input type="radio" id="very_good" name="sleep" value="Very good">Very good<BR>
        <input type="radio" id="fairly_good" name="sleep" value="Fairly good">Fairly good<BR>
        <input type="radio" id="fairly_bad" name="sleep" value="Fairly bad">Fairly bad<BR>
        <input type="radio" id="very_bad" name="sleep" value="Very bad">Very bad<BR>
  </p>

  <P>5. How useful is the feedback?<BR>
    <input type="radio" name="feedback" value="Very useful">Very useful<BR>
    <input type="radio" name="feedback" value="Somewhat useful">Somewhat useful<BR>
    <input type="radio" name="feedback" value="Not very useful">Not very useful<BR>
    <input type="radio" name="feedback" value="Not at all useful">Not at all useful<BR>
  </p>

  <p>6. What percentage of the time did you:
    <li>Spend on academic work <input type="text" id="text" name="text_name" <BR> % </li> 
    <li>Spend on leisure/social life activities <input type="text" id="text" name="text_name" <BR> % </li>
    <li>Spend on personal maintenance <input type="text" id="text" name="text_name" <BR> % </li>
    <li>Other: <input type="text" id="text" name="text_name" <BR> (please specify) <input type="text" id="text" name="text_name" <BR> % </li>
  </p>

  <br>
  <input type="submit" value="Submit">
  </form>
  </div>
  
  <p id="export"></p>
</div>
 
</body>
</html>
