<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Life Logger</title>
  <link rel="stylesheet" href={{ url_for("static", filename="css/jquery-ui.css") }}>
  <script src={{ url_for("static", filename="js/jquery.js") }}></script>
  <script src={{ url_for("static", filename="js/jquery-ui.js") }}></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>

<div id=date>
	Date: <div id="datepicker"></div>
</div>

<div id=app>
	
</div>

<div id=moves>
</div>


<div id=rescuetime>
</div>
 
</body>
</html>