<html>
  <head>
    <title>Life Logger Login</title>
  </head>
  <body>
    {{ message }}
    <div id=login>
    <h2>Login</h2>
        <form action="check_auth" method=post>
            <label>Username</label>
            <input type=text placeholder="Enter username" name=name required><br>
            
            <label>Password</label>
            <input type=password placeholder="Enter Password" name=password required><br>
            
            <button type=submit>Login</button>
        </form>
    </div>
    
    <div id=register>
    <h2>Register as new user</h2>
        <form action="user_register" method=post>
            <label>Username</label>
            <input type=text placeholder="Enter username" name=name required><br>
            
            <label>Password</label>
            <input type=password placeholder="Enter Password" name=password required><br>
            
            <button type=submit>Login</button>
        </form>
    </div>
  </body>
</html>
