<html>
  <head>
    <title>Life Logger Manual Tracking Survey</title>
	<link rel="stylesheet" href={{ url_for("static", filename="css/homepage_b.css") }}>
    <script src={{ url_for("static", filename="js/jquery.js") }}></script>
	<script src={{ url_for("static", filename="js/retrieve_data_b.js") }}></script>
	<script src={{ url_for("static", filename="js/canvasjs.min.js") }}></script>
  </head>
  <body>
    <!-- {{ message }} -->
    <div class="container">

  <h2>[Instruction]</h2>
  <!-- <p>Through the powers of <strong>contenteditable</strong> and some simple jQuery you can easily create a custom editable table. No need for a robust JavaScript library anymore these days.</p> -->
  
  <ul>
    <li>Please fill in the blank <em><u>“What happened”</u></em> with short descriptions to specify activities.</li> 
    <li>Please fill in the blank <em><u>“Code”</u></em> with <em><u>1 work, 2 Leisure, 3 Personal maintenance.</u></em></li>
  </ul>

  <h2>[Term Definition]</h2>
  <!-- <p>Through the powers of <strong>contenteditable</strong> and some simple jQuery you can easily create a custom editable table. No need for a robust JavaScript library anymore these days.</p> -->
  
  <ul>
    <li><em><u>Work</u></em>: Academic related activities, study, job hunting, interviews, taking classes, homework, group discussions/work/projects, etc.</li> 
    <li><em><u>Leisure</u></em>: social life, shopping, watching videos/playing games, partying, drinking, club activities, sports, etc.</li>
    <li><em><u>Personal maintenance</u></em>: health, showering, cooking, eating, sleep, working out, transportation, etc.</li>
    <li>Code for <em><u>feeling</u></em>: <em><u>1. Very unhappy, 2. Unhappy, 3. Happy, 4. Very happy</u></em></li>
    <li>Code for <em><u>stress</u></em>: <em><u>1. Very relaxed, 2. Relaxed, 3. Stressed, 4. Very stressed</u></em></li>
  </ul>
  
  <div id="table">
  <form action="track_survey" method=post>
<!--     <span class="table-add glyphicon glyphicon-plus"></span>
    <table class="table"> -->
    <!-- <table id="table" border=”1″ style=”width:300px”> -->
    <TABLE id="dataTable" width="350px" border="1">
      <tr>
        <th>What happened?</th>
        <th>Code</th>
        <th>Time began</th>
        <th>Time ended</th>
        <th>Where?</th>
        <th>What did you feel?</th>
        <th>Stress</th>
      </tr>
      <tr id=row1>
        <TD><INPUT type="text" name="what_happen"/></TD>
        <td> 
            <select name="code">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <input type="time" name="time_began">
        </td>      
        <td> 
            <input type="time" name="time_end">
        </td>           
        <TD><INPUT type="text" name="where_happen"/></TD>
        <td> 
            <select name="feel">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>
      <!-- repeat row 1 -->
      <tr>
        <TD><INPUT type="text" name="what_happen2"/></TD>
        <td> 
            <select name="code2">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <input type="time" name="time_began2">
        </td>      
        <td> 
            <input type="time" name="time_end2">
        </td>           
        <TD><INPUT type="text" name="where_happen2"/></TD>
        <td> 
            <select name="feel2">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress2">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>

       <!-- repeat row 2 -->
      <tr>
        <TD><INPUT type="text" name="what_happen3"/></TD>
        <td> 
            <select name="code3">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <input type="time" name="time_began3">
        </td>      
        <td> 
            <input type="time" name="time_end3">
        </td>                     
        <TD><INPUT type="text" name="where_happen3"/></TD>
        <td> 
            <select name="feel3">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress3">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>
      <!-- repeat row 3 -->
      <tr>
        <TD><INPUT type="text" name="what_happen4"/></TD>
        <td> 
            <select name="code4">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
      <td> 
            <input type="time" name="time_began4">
        </td>      
        <td> 
            <input type="time" name="time_end4">
        </td>           
        <TD><INPUT type="text" name="where_happen4"/></TD>
        <td> 
            <select name="feel4">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress4">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>
      <!-- repeat row 4 -->
      <tr>
        <TD><INPUT type="text" name="what_happen5"/></TD>
        <td> 
            <select name="code5">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <input type="time" name="time_began5">
        </td>      
        <td> 
            <input type="time" name="time_end5">
        </td>           
        <TD><INPUT type="text" name="where_happen5"/></TD>
        <td> 
            <select name="feel5">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress5">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>

      <!-- repeat row 5 -->
      <tr>
        <TD><INPUT type="text" name="what_happen6"/></TD>
        <td> 
            <select name="code6">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
       <td> 
            <input type="time" name="time_began6">
        </td>      
        <td> 
            <input type="time" name="time_end6">
        </td>           
        <TD><INPUT type="text" name="where_happen6"/></TD>
        <td> 
            <select name="feel6">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress6">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>

      <!-- repeat row 6 -->
      <tr>
        <TD><INPUT type="text" name="what_happen7"/></TD>
        <td> 
            <select name="code7">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
        <td> 
            <input type="time" name="time_began7">
        </td>      
        <td> 
            <input type="time" name="time_end7">
        </td>         
        <TD><INPUT type="text" name="where_happen7"/></TD>
        <td> 
            <select name="feel7">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress7">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>

       <!-- repeat row 7 -->
      <tr>
        <TD><INPUT type="text" name="what_happen8"/></TD>
        <td> 
            <select name="code8">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
       <td> 
            <input type="time" name="time_began8">
        </td>      
        <td> 
            <input type="time" name="time_end8">
        </td>           
        <TD><INPUT type="text" name="where_happen8"/></TD>
        <td> 
            <select name="feel8">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress8">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>
      <!-- repeat row 8 -->
      <tr>
        <TD><INPUT type="text" name="what_happen9"/></TD>
        <td> 
            <select name="code9">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
       <td> 
            <input type="time" name="time_began9">
        </td>      
        <td> 
            <input type="time" name="time_end9">
        </td>           
        </td>           
        <TD><INPUT type="text" name="where_happen9"/></TD>
        <td> 
            <select name="feel9">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress9">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>

      <!-- repeat row 9 -->
      <tr>
        <TD><INPUT type="text" name="what_happen10"/></TD>
        <td> 
            <select name="code10">        
                    <option value="Work">Work</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Personal maintenance">Personal maintenance</option>
            </select>
        </td>
       <td> 
            <input type="time" name="time_began10">
        </td>      
        <td> 
            <input type="time" name="time_end10">
        </td>           
        <TD><INPUT type="text" name="where_happen10"/></TD>
        <td> 
            <select name="feel10">        
                    <option value="Very Unhappy">Very Unhappy</option>
                    <option value="Unhappy">Unhappy</option>
                    <option value="Happy">Happy</option>
                    <option value="Very Happy">Very Happy</option>
            </select>
        </td>
        <td> 
            <select name="stress10">        
                    <option value="Very relaxed">Very relaxed</option>
                    <option value="Relaxed">Relaxed</option>
                    <option value="Stressed">Stressed</option>
                    <option value="Very stressed">Very stressed</option>
            </select>
        </td>
      </tr>
      
    </table>
  </div>

  <!-- <button id="export-btn" class="btn btn-primary">Add Row</button> -->
  <br>
  <INPUT type="button" value="Add Row" onclick="addRow()" /> <BR>

   <p>Comment: Do you have any comments about your day?<BR>
        <textarea type="text" rows=6 cols=50 id="comments" name="comments"></textarea><BR>
      </p>

      <P>1. Can you guess how many steps did you walk today?<BR>
        <input type="radio" id="3000" name="step" value="Below 3000 steps">Below 3000 steps<BR>
        <input type="radio" id="7000" name="step" value="Below 7000 steps">Below 7000 steps<BR>
        <input type="radio" id="10000" name="step" value="Below 10000 steps">Below 10000 steps<BR>
        <input type="radio" id="unknown" name="step" value="I don’t know">I don’t know<BR>
      </p>

      <p>2. How many alcoholic beverages did you drink today?<BR>
        <input type="text" id="alcohol" name="alcohol" <BR>
      </p>
		<div id="pieChart"></div>
      <p>3. How many cigarettes did you smoke today?<BR>
        <input type="text" id="cigarette" name="cigarette" <BR>
      </p>

      <P>4. How would you rate your sleep quality last night?<BR>
        <input type="radio" id="very_good" name="sleep" value="Very good">Very good<BR>
        <input type="radio" id="fairly_good" name="sleep" value="Fairly good">Fairly good<BR>
        <input type="radio" id="fairly_bad" name="sleep" value="Fairly bad">Fairly bad<BR>
        <input type="radio" id="very_bad" name="sleep" value="Very bad">Very bad<BR>
      </p>

      <p>5. What percentage of the time did you:<BR>
        <li>Spend on academic work <input type="text" id="percent_academic" name="percent_academic" <BR> % </li> 
        <li>Spend on leisure/social life activities <input type="text" id="percent_social" name="percent_social" <BR> % </li>
        <li>Spend on personal maintenance <input type="text" id="percent_personal" name="percent_personal" <BR> % </li>
        <li>Other: <input type="text" id="other_name" name="other_name" <BR> (please specify) <input type="text" id="percent_other" name="percent_other" <BR> % </li>
      </p>
      
      <input type="submit" value="Submit">
  </form>
  
  
  <p id="export"></p>
</div>
  </body>
</html>
